
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {

  font-family: "Poppins", sans-serif;
}

.mol-container {
width: 100%; 
height: 300px;
position: relative;
background-color: black;
}
/* body {
height: 60%;
margin: 0;
padding: 0;
} */


 img{
  top:  35%;
  padding-top: 50%;
  width: 70%;
  height: 150px;
} 
body:before { 
	content:"";
	position:fixed;
	top:50%; left: 40%;
	z-index:9999;
	width:1px; height: 1px;
	outline:2999px solid invert;
}

div {
position: fixed;
width: 50%;
height: 50%;
}

#NW {
top: 0;
left: 0;
height: 300px;
/* background: black; */
}

#middle{
  top:  25%;
  left: 55%;
  width: 25%;
  height: 300px;
  background: black;
}

#left{
  top: 25%;
  left: 35%;
  width: 25%;
  height: 300px;
  background: black;
}
#leftMost{
  top: 25%;
  left: 35%;
  width: 5%;
  height: 300px;
  background: black;
}

/* #legend_3d{
  top: 25%;
  left: 10%;
  width: 25%;
  height: 300px;
   background: b; 
} */

/* #my{
  background: black;
  width: %; 
} */

#NE {
top: 25%;
left: 75%;
width: 25%;
height: 300px;
background: black;
align-items: center;
justify-content: center;
}

#bar-chart{
top: 0;
left: 50%;
height: 400px;
background: white;
align-items: center;
justify-content: center;
}



#SW {
top: 80%;
left: 5%;
width: 1000px;
height: 1000px;
/* overflow-y :scroll; */
/* background: white; */
border:1ch;
}

h1 { 
  display: block;
  text-align: center;
  font-size: 5em;
  /* margin-top: 2%; */
  /* margin-bottom: 2%; */
  margin-left: 2%;
  margin-right: 0;
  font-weight: bold;
}

h2 { 
  display: block;
  text-align: center;
  font-size: 2em;
  /* margin-top: 2%; */
  /* margin-bottom: 2%; */
  margin-left: 35%;
  margin-right: 0;
  font-weight: bold;
}

h3 { 
  display: block;
  text-align: center;
  font-size: 2em;
  margin-top: -3%;
  /* margin-bottom: 2%; */
  margin-left: 4%;
  margin-right: 0;
  font-weight: bold;
}

.threed1 { 
  display: block;
  /* text-align: center; */
  font-size: 1.5em;
  margin-top: -2.5%;
  /* margin-bottom: 2%; */
  /* width: 100%; */
  /* margin-left: 1%; */
  margin-right: 0;
  /* background-color: #7F8003; */
  /* color: white; */
  /* font-weight: bold; */
}

.heading { 
  display: block;
  text-align: left;
  font-size: 2em;
  margin-top: -1.5%;
  margin-bottom: 3%;
  /* width: 100%; */
  margin-left: 6.5%;
  margin-right: 0;
  /* background-color: #7F8003; */
  color: black;
  font-weight: bold;
}

#new_div {
  top: 60%;
  /* bottom: 20%; */
  left: 35%;
  width: 100%;
  height: 12%;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3C6478; 
}

#SE {
top: 75%;
left: 47%;

}

#innerDIV {
top:25%;
left:65%;
}


th,td {
border: 2px solid;
border-collapse: collapse;
border-color: #197654;
width: 200px;
}

.ruler, .ruler li {
margin: 0;
padding: 0;
list-style: none;
display: inline-block;
}

.ruler, .ruler li {
*display: inline;
}
.ruler {
background: white;
/* box-shadow: 0 -1px 1em hsl(60, 60%, 84%) inset; */
border-radius: 2px;
border: 1px solid #ccc;
color: #ccc;
margin: 0;
height: 3em;
padding-right: 1cm;
white-space: nowrap;
}
.ruler li {
padding-left: 1cm;
width: 2em;
margin: .64em -1em -.64em;
text-align: center;
position: relative;
/* text-shadow: 1px 1px hsl(60, 60%, 84%); */
}
.ruler li:before {
content: '';
position: absolute;
border-left: 1px solid #ccc;
height: .64em;
top: -.64em;
right: 1em;
}

#my{
  margin-top: 0%;
  margin-left: 3.5%;
}
/* svg{
    padding-left: 100px;
    padding-top: 0%;
  } */

/* svg.arc{
  
  padding-left: 0%;
  padding-top: 3%;
} */



/* h2{
padding-left: 1000px;
padding-top: 5px;
padding-bottom: 0%;
} */

div.tooltip {
position: absolute;
text-align: left;
width: fit-content;
height: fit-content;
padding: 0 10px;    
font-size: 15px;
background:rgb(24, 23, 23);
color: white;    
border-radius: 5px;
pointer-events: none;    
}

.line {
fill: none;
stroke: #434341;
stroke-width: 3;
}

.dot {
fill: #35024e;
stroke: #fff;
}

.bar {
  /* fill: red; */
  stroke: green;
  }

input[type="text"] {
  visibility: hidden;
    box-sizing: border-box;
    width: 25%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
  }
  input[type="text"][required]:focus {
    border-color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 50% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  .button {
    /* padding-left: 100px; */
    background-color:  #02412a;  /*Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  .links path {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    fill: #d62333;
    stroke: #fff;
    stroke-width: 1px;
  }
  h6{
    margin: 0; 
      display: inline;
      /* color: white; */
  }